
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

  * {

      font-family: 'Rubik', sans-serif;
      
  }

  .search {
    display: flex;
    justify-content: center;
    /* background-color: gray; */
    /* color: white */

  }

.search input {
    text-align: center;
    background-color:rgb(15, 54, 89);
    padding: 10px;
    border:none;
    width: 40%;
    color: white;
    font-size: 15px;
    outline: none;
    border-radius: 10px;
}



#root {
    display: flex;
    justify-content: center;
    align-items:center;
    /* justify-content: flex-end */
    
}

/* .weather {
    display: flex;
    align-items: end;
} */

.gradus {
    /* margin-left: 20px; */
    font-weight: 800;
    font-size: 60px;
    padding: 20px;
}

.name {
    padding: 30px;
    /* margin-left: 40px; */
    /* margin-top: 2%; */
}

.name h1 {
    line-height: 15px;
    font-weight: 700;
    font-size: 50px;
}

.name p {
    font-weight: 500;
    line-height: 5px;
    font-family: 'Rubik', sans-serif;
/* background-image: ; */
}

.wind {
    /* margin-left: 20px; */
    line-height: 5px;
    padding: 30px;
}

.wind p {
    line-height: 5px;
    margin-bottom:20%;
    margin-left: 27%;
    font-weight: 500;
    font-size: 20px;
}

.wind img {
    /* line-height: 105px; */
    /* border: 3px solid red; */
}